body{
    height:100vh;
    background-color:teal;
    background-size:cover;
    background-position:center;;
}
/*input{
    width: 430px;
	margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
}*/
form input[type="text"],input[type="password"],input[type="number"],textarea{
    color:white;
    padding-top: 10px;
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid;
    border-top:none;
    border-left:none;
    border-right:none;
    font-family: Arial, Helvetica, sans-serif;
    height:30px;
    width: 430px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form input[type="submit"]{
    
    border:none;
    font-size:1rem;
}
::placeholder{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1rem;
}

#main-wrapper{
	border-radius : 5px;
	background-color: rgba(0, 0, 0, 0.3);
	/*border: 3px solid cyan;*/
	width: 500px;
	top:15% ;
    left:33%;
    position:absolute;
    color: white;
}
.inner_container{
	width:450px;
	margin:0 auto;
    font-family: sans-serif;
    color: white;
}
.login_button {
    display: inline-block;
    background-color: #C1576A;
    color: white;
    padding: 10px;
    margin-top: 10px;
    width:100%;
    border-radius: .5rem;
    border:none;
    font-size:1rem;
}
.login_button:hover{
    background-color:  #A83E51;
    cursor:pointer;
    transition: 0.6s ease;
}
.register_btn{
	display: inline-block;
    background-color: #C1576A;
    color: white;
    padding: 10px;
    margin-top: 10px;
    width:100%;
    border-radius: .5rem;
    border:none;
    font-size:1rem;
	
}
.register_btn:hover{
    background-color:  #A83E51;
    cursor:pointer;
    transition: 0.6s ease;
}
.back_btn{
    display: inline-block;
    background-color: #C1576A;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: .5rem;
    border:none;
    font-size:1rem;
}
.back_btn:hover{
    background-color:  #A83E51;
    cursor:pointer;
    transition: 0.6s ease;
}
.logout_button{
	background-color: black;
    color: black;
	margin-top:10px;
    padding:10px;
    width: 100%;
	font-size:18px;
    font-weight: bold;
   
}
.logout_button:hover{
    background-color: gold;
    color:black;
    cursor:pointer;
    transition: 0.6s ease;
}

.sign_up_btn {
	display: inline-block;
    background-color: #C1576A;
    color: white;
    padding: 10px;
    margin-top: 10px;
    width:100%;
    border-radius: .5rem;
    border:none;
    font-size:1rem;
}
.sign_up_btn:hover{
    background-color:  #A83E51;
    cursor:pointer;
    transition: 0.6s ease;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 30%;
    border-radius: 50%;
}

.container {
    margin: 16px;
	width:100%;
}